In [3]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler
import pickle

In [4]:
# Load the Dataset

df = pd.read_csv("dataset/Churn_Modelling.csv")

# Remove Column which are not necessary
df.drop(["RowNumber","CustomerId" ,"Surname"] , axis=1 , inplace=True)

df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
# Encode the categorical data
from sklearn.preprocessing import LabelEncoder


encoders = {}

for column in df.columns:
    if df[column].dtype == "object":
        
        encoder = LabelEncoder()

        df[column] = encoder.fit_transform(df[column])
        encoders[column] = encoder

# Also save the encoders as pickle which will be used in 
# future when model is deployed and predictions are to be done

with open("regression_encoders.pkl" , "wb") as f:
    pickle.dump(encoders , file=f)
# Decode data code
# encoders['Geography'].inverse_transform([0])

In [7]:
from sklearn.model_selection import train_test_split


X = df.drop("EstimatedSalary" , axis=1)
y = df['EstimatedSalary']


x_train , x_test , y_train , y_test = train_test_split(X , y , test_size=0.3 , random_state=42 , shuffle=True)

print(x_train.shape , y_train.shape)

(7000, 10) (7000,)

In [8]:
from sklearn.preprocessing import StandardScaler


scaler= StandardScaler()


x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)


# Save the scaler in pickle file
with open("regression_scaler.pkl" , "wb") as f:
    pickle.dump(scaler , f)